body{
    color: #333;

    text-align: left;
    font-family: "courier";
    font-size: 16px;
    margin: 0;
    padding: 0;
     
}

#container{
    box-shadow: 11px 13px 28px -6px rgba(0,0,0,0.75);
    background-color: #d3d2d2;
    width: 70%;
    padding: 1rem;
    text-align: left;
    border: 3px solid #b96a6a;
    margin: 0 auto;
}

#container h1{
    font-size: 20px;
}

#container p{
    font-size: 18px;
}

#cabecera{
    background-color: #33a ;
    color: white;
    margin: 0;
    padding: 0.5em 0 0.5em 2em;
    font-weight: bold;
    box-shadow: 11px 13px 28px -6px rgba(0,0,0,0.75);

}

#cabecera #tagline{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}

#logo{
    width: 30px;
    padding: 0 10px 0 0;
    vertical-align: middle;
}

#footer{
    background-color: gray;
    color: white;
    text-align: center;
}